header {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items:center;
    height: 185px;
    background-image: linear-gradient(to right, rgb(148, 161, 125),rgb(183, 195, 162), rgb(244, 234, 201));
}
.caixaheader{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items:center;
    height: 185px;
    width: 1080px;
}
.logo{
    margin-right: 30px;
}
.texto-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-shadow: 0 0 3px rgb(2, 17, 46);
    color: rgb(203, 59, 59);
}
.topo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    border: 1px solid violet;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(254, 244, 212);
    margin: 8px;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px; 
    border: 1px solid violet;
}
a {
    text-decoration: none;
    color:rgb(43, 96, 195)
}
#inicio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    color: rgb(82, 124, 94);
}
h3, h2, h4, p, nav {
    font-family: Arial, Helvetica, sans-serif;
}

#subt {
    color: rgb(189, 10, 46);
    margin: 0px;
}
.sec1 {
    display: flex;
    width: 1080px;
}
.sec1img{
    display: flex;
    width: 70%;
    border: 1px solid violet;
}
.img1{
    width: 100%;
}
.sec1div2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
footer {
    margin: 0;
    position: relative;
    height: 185px;
    background-image: linear-gradient(to right, rgb(221,236,232), rgb(128,128,0)) 
}

.footer-voltar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 1px rgb(11, 73, 57);
    position: absolute;
    margin: 0;
    top: 30%;
    left: 220px;
    color: rgb(189, 52, 52);
  }
  .footer-out {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0 0 1px rgb(11, 73, 57);
    position: absolute;
    margin: 0;
    top: 60%;
    left: 220px;
    color: rgb(189, 52, 52);
  }